<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{ title }}</h1>


<button (click)=" acumular(+1) "> +1 </button>

<span> {{numero}} </span>

<button (click)=" acumular(-1) "> -1</button>
<!-- * * * * * * * ejercicio * * * * * * * * -->
<h3> La base es: <strong> {{base}} </strong></h3>

<button (click) = " contar (+5)"> 
  +5
</button>
<span> 
  {{base}} 
</span>
<button (click) = " contar (-5)"> 
  -5
</button>